.Rproj.user
.Rhistory
.RData
14-r-google-map-making.Rmd
outline.Rmd
ggmapTemp.png
image.pdf
route_Leeds station, New Station Street, Leeds LS1 5DL_to_LS2 9JT.pdf
route_Leeds_to_Manchester.pdf
route_Manchester Oxford Road_to_Manchester Picadilly.pdf
route_Manchester_to_Liverpool.pdf
